.uuid-container {
    border: 2px solid #86c0e8;
    // padding: 20px 20px 20px 0px;
    text-align: center;
    border-radius: 5px;
    background-color: #e8f1f3;
    font-size: 20px;
}

.uuid-type {
    border-right: 2px solid #86c0e8;
    padding: 23px 20px;
    display: inline-block;
}

.uuid-value {
    display: inline-block;
    color: #585858;
    margin: 20px;
    padding: 5px;
    font-size: 18px;
    font-family: 'B612 Mono', monospace;

}