.uuid-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 70px;
  border: 2px solid #86c0e8;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #e8f1f3;

  font-size: 18px;
  font-family: 'B612 Mono', monospace;
  font-size: 18px;
}

.uuid-type {
  color: #83899b;
  border-right: 2px solid #86c0e8;
  padding: 0px 10px;
}

.uuid-value {
  color: #585858;
  cursor: pointer;
}

@media only screen and (max-width: 739px) {
  .uuid-container {
    width: 100%;
    height: 60px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 520px) {
  .uuid-container {
    height: 40px;
    font-size: 10px;
  }
}
