@import url('https://fonts.googleapis.com/css?family=Scope+One');
@import url('https://fonts.googleapis.com/css?family=B612+Mono:400,700');

@import 'uuid';
@import 'collapse';

html,
body {
  color: #2e2e2e;
  margin: 0px;
  padding: 0px;
  font-family: 'Scope One', serif;
  font-size: 24px;
}

body {
  height: 100vh;
  min-height: 100%;
  background-image: url('https://source.unsplash.com/7MR8zgLraIk/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  max-width: 740px;
  min-width: 600px;
  margin: 0 auto;
  padding: 40px 60px 40px 60px;
  background-color: rgba(255, 255, 255, 0.6);
}

h1 {
  font-size: 26px;
  color: #383e40;
  text-align: center;
  font-weight: bold;
}

.page {
  background-color: rgba(255, 255, 255, 0.4);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  position: relative;
  margin-top: 50px;
  text-align: center;

  a {
    text-decoration: none;
    font-size: 16px;
    margin: 0px 20px;
    color: #d8dada;
    background-color: #272727;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
}

.apiusage {
  padding: 40px;
  font-size: 14px;
  font-family: 'B612 Mono', monospace;
  font-weight: 400;
}

.api-comment {
  color: #6d86a0;
}
